* {
    padding: 0;
    margin: 0;
}
.menu{
    
    height: 100vh;
    width: 100%;
  background-color: #000;
    background-size: cover;
    background-position: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: top 45px;
    padding-left: 4%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}
.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transfrom .4s;
}
.btn:hover {
    transform: scale(1.2);
}
.search form input:first-child {
    display: inline-block;
    width: 40%;
    padding: 5px 130px 14px 15px;
    border: 3px solid #f9004d;
    border-radius: 30px;
    position: absolute;
    top: 6px;
    right: 6px;
}
.search form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #2404da;
    color: rgb(247, 236, 236);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 8px;
    right: 9px;
}
.video{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto ;
    background-color: #000;
   margin: 20px;
   padding: auto;

}
